<div class="row">
  <div class="col-xs-12">

    <div class="alert alert-danger" *ngIf="this.error != null">
      <p>{{this.error}}</p>
    </div>

    <div class="text-center">
      <app-loading-spinner *ngIf="this.isLoading === true"/>
    </div>

    <form #form=ngForm (ngSubmit)="this.submit(form)" *ngIf="this.isLoading === false">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" id="email" class="form-control" ngModel name="email" email required>
      </div>
      <div class="form-group">
        <label for="email">password</label>
        <input type="password" id="password" class="form-control" ngModel name="password" required minlength="6">
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit" [disabled]="form.valid === false">
          {{ this.isLoginMode ? 'Log in' : 'Sign up'}}
        </button>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" (click)="this.onSwitchMode()" type="button">
          {{ this.isLoginMode ? 'Switch to sign up' : 'Switch to Log in'}}
        </button>
      </div>
    </form>
  </div>
</div>
