<div class="row">
  <div class="col-xs-12">

    <form [formGroup]="this.recipeForm" (ngSubmit)="this.onSubmit()">

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input id="name" type="text" name="name" class="form-control" formControlName="name">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image url</label>
            <input #imgPath id="imagePath" type="text" name="imagePath" class="form-control"
                   formControlName="imagePath">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <img [src]="imgPath.value" style="max-height: 100px;" class="img-responsive"/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" type="text" name="description" class="form-control" rows="6"
                      formControlName="description">

            </textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="row">
          <div class="col-xs-12">
            <div class="col-xs-12">
              <button type="button" class="btn btn-success" (click)="this.addRecipe()">Add ingredient</button>
            </div>
          </div>
        </div>
        <div class="col-xs-12"
             formArrayName="ingredients">
          <div class="row"
               *ngFor="let ingredientCtrl of this.controls.controls; let i = index"
               style="margin-top:10px"
               [formGroupName]="i"
          >
            <div class="col-xs-8">
              <input name="name" type="text" class="form-control" formControlName="name">
            </div>
            <div class="col-xs-2">
              <input type="number" name="amount" class="form-control" formControlName="amount">
            </div>
            <div class="col-xs-2">
              <button (click)="this.removeIngredient(i)" class="btn btn-danger" type="button">X</button>
            </div>
          </div>
        </div>
      </div>


      <div class="row" style="margin-top:10px">
        <div class="col-xs-12">
          <div class="form-group">
            <button [disabled]="this.recipeForm.valid===false && this.recipeForm.touched ===true"
                    type="submit" class="btn btn-success">
              Save
            </button>

            <button type="button" class="btn btn-danger" (click)="this.cancel()">Cancel</button>

            <button [disabled]="this.editMode === false"
                    type="button"
                    class="btn btn-danger"
                    (click)="this.delete()">
              Delete
            </button>
          </div>
        </div>
      </div>

    </form>

  </div>
</div>
